
.par1{
    background-color: aqua;
    width: 200px;
    height: 200px;
}
.par2{
    background-color: aqua;
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 20px solid black;
}
.par3{
    background-color: aqua;
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 20px solid black;
    padding: 20px;
}
.par4{
    background-color: aqua;
    margin: 20px;
    width: 200px;
    height: 200px;
    border: 20px solid black;
    padding: 20px;
    margin:20px;

}
body{
    display: flex;
}