.section{
    background-color: grey;
    display: flex;
    gap: 20px;
}
.container-one{
    background-color: blanchedalmond;
    width: 60%;
    height: 100%;
    margin: 20px 10px;
    padding: 10px;
    text-align: justify;
    box-shadow: 10px 10px 25px 25px  black;
}
.container-one span{
    color: red;
}
.container-one header{
    font-size: 90px;
}
header{
    cursor:grab;
}
h1{
    background-color: grey;
    font-size: medium;
    word-spacing: 20px;
    cursor: alias;
}
p{
    cursor: default;
}
.page-one{
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
}
.container-two{
    background-color: blanchedalmond;
    width: 60%;
    height: 95vh;
    margin: 20px 10px;
    padding: 10px;

}
.page-three{
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
}

.page-two{
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
}
img{
    margin: 10px 10px;
    margin-right: 10px;
    width: 100%;
    height: 62%;
    cursor:copy;
}
.container-two{
    background-color: blanchedalmond;
    width: 60%;
    height: 100%;
    margin: 20px 10px;
    padding: 10px;
    text-align: justify;
    box-shadow: 10px 10px 25px 25px black;
}
ul{
    display: flex;
    justify-content: space-between;
    cursor:crosshair;
}
.cursor{
    background-color: white;
    height: 200px;
    padding: 20px;
}
ol li{
    padding: 10px;
}