.one1,.one2,.one3,.one4,.one5{
    color: white;
    padding: 20px;
    text-decoration: none;
    margin-left: 30px;

    
}
div{
    background-color: rgb(95, 89, 89);
    width: 800px;
    height: 50px;
    padding-top: 30px; 
    font-size:large;
    border-radius: 20px;
    
}
a:hover{
    color: white;
    background-color: black;
    /* height: 50px; */
    border-radius: 20px;
    padding: 20px;


}