body{ 
    background-color: blanchedalmond;
}
h1{
    color:black;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(11, 208, 238);
    letter-spacing:5px;
    text-decoration: underline;
}
p{
    width: 500px;
    border:dashed;
    margin: auto;
    padding: 20px;
    
}
p.par1{
    text-align: justify;
    text-indent: 20px; 
    border-bottom: none; 


}
p.par2{
    text-decoration: line-through;
    border-top: none;

}

