/* body{ 
    background-color:darkturquoise;
    border-color: blueviolet;
}
input[type=text]{
    padding: 0.2in;
    padding-right: 800px;
}
input[type=email]{
    padding: 0.2in;
    padding-right: 800px;
}
input[type=password]{
    padding: 0.2in;
    padding-right: 800px;
}
*{
    margin: 10px;
}
button{
    background-color: forestgreen;
    width: 1000px;
    padding: 10px;
    font-size: 20px;

}
textarea{
    padding: 0.2in;
    padding-right: 800px;

} */
.p{
    font-family: 'Caprasimo', cursive;
}
